/*
Stylesheet for Our Street Our Map presentaion
Sajjad Anwar
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
	color: #000;
    font-family: Arial, sans-serif;
    
    min-height: 740px;

    -webkit-font-smoothing: antialiased;
}

b, strong { font-weight: bold }
i, em { font-style: italic}
a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

nav {
   height: 23px;
}
nav a {
	border-radius: 0;
    color: inherit;
    display: block;
	font-size: .8em;
	padding: 0;
	position: fixed;
	text-decoration: none;
	text-shadow: none;
	
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}
nav a.back {
	left: 0;
	padding: 5px 10px;
	top: 0;
	width: 120px;
}
nav a.back span {
	display: inline-block;
	height: 13px;
	overflow: hidden;
	width: 0px;
	
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}
nav a.back:hover span {
    width: 100px;
}
nav a.credits {
    right: 0;
    top: 0;
	padding: 5px 10px;
}
nav a.credits:hover {
    text-decoration: underline;
}

#map {
    position: absolute;
    /*left:50%;*/
    height:800px;
    width:100%;
    /*top:100%;*/
    z-index:1;
    /*border-top: 1px solid #ccc;*/
    opacity: 0.6;
    -moz-opacity: 0.7;
    filter:alpha(opacity=7);
}
/*
.slides {
    position: absolute;
    left:20%;
    z-index:10;
    line-height: 3.5em;
}
*/
#title {
   /* line-height: 3em;*/
    /*padding-top:200px;*/
    /*font-size:1.3em;*/
    font-family: 'Patua One', cursive;
    text-shadow: #ccd 2px 5px 2px;
    background: url("../images/title.png") no-repeat;
    
}

.title h2 {
    font-size: 0.6em;
}

/*.slides h1 {
    font-size:3em;
}

.slides h2 {
    font-size:2em;
}
*/
#slide {
    font-family:"Oxygen";
    /*font-family:"Shadows Into Light Two";*/
    /*padding-top:200px;*/
    /*width:100%;*/
    text-shadow: #ccd 2px 5px 2px;

}

#big {
    font-size:100px;
    font-color:white;
}
.image {
font-family:"Oxygen";
padding-top: 40px;
}

.whois {
       background: url("/images/watercolor1.png") no-repeat;

}

#mumbai {
    font-family:"Oxygen";
    text-shadow: #ccd 0px 0px 0px;

}

#builder {
    font-size:80px;
    line-height:1.5em;
}

#osm {
    margin-top:180px;
}

#bridge{
    padding-left:80px;
}

#credits {

font-family: 'Belleza';
        text-shadow: #ccd 0px 0px 0px;
}